.nyc_output/
coverage/
node_modules/
npm-debug.log
todo.txt
.cache/
build/
dist/
.idea
/server/src/views/**/*.html
jspm_packages/
yarn-error.log
/client/app/common
/server/src/common
/server/src/about.json
