# IDE files
.idea

# Code coverage
/.nyc_output/
/coverage/

# Temporary directories
/dist/
/node_modules/

# Client
/client/app/common

# Server
/server/src/about.json
/server/src/common
/server/src/indexers/.cache
/server/src/views/**/*.html

# Package manager error logs
yarn-error.log
npm-debug.log

# Other
todo.txt
