doctype html
html
    head
        //- These three <meta> elements must come first for bootstrap
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE-edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        block title
            title novaXfer

        block stylesheets
            link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')

        block scripts
            script(src='/jspm_packages/system.js')
            script(src='/jspm.config.js')
            script.
                System.import('app');

    body
        block header
            header: a(href='/') novaXfer

        main
            block content

        footer
            div.container
                span.text-muted Copyright &copy; Matthew Dean 2017
