doctype html
html
    head
        //- These three <meta> elements must come first for bootstrap
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE-edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        block title
            title novaXfer

        block stylesheets
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')

        block scripts
            script(src='/jspm_packages/system.js')
            script(src='/jspm.config.js')
            script.
                System.import('bootstrap/dist/css/bootstrap.css!');
                System.import('build/base.css!');
                // Import Angular dependencies
                System.import('zone.js');
                System.import('reflect-metadata');
                // Import/bootstrap our Angular app
                System.import('app');

    body
        block header
            header: a(href='/') novaXfer

        main
            block content

        footer
            div.container
                span.text-muted Copyright &copy; Matthew Dean 2017
