div.container
    table.table.table-bordered.table-hover
        tr
            th NVCC
            th(ng-repeat="institution in $ctrl.institutions track by $index")
                select.input-institution.form-control(ng-model='$ctrl.institutions[$index]' ng-options='inst for inst in $ctrl.institutionList')
            th
                button.btn.btn-default.glyphicon.glyphicon-plus(ng-click='$ctrl.addInstitution()')
        tr(ng-repeat="inputCourse in $ctrl.input track by $index")
            td.course-input
                input.form-control(ng-model='$ctrl.input[$index]')
            td(ng-repeat="equivs in $ctrl.data[$index]")
                div.equivalency-cell(ng-repeat="equiv in equivs")
                    p.text-muted(ng-show="equiv.muted") (when taken with {{equiv.muted}})
                    p {{equiv.normal}}
                    p.text-danger(ng-show="equiv.danger") No equivalency
        tr: td: button.btn.btn-default.glyphicon.glyphicon-plus(ng-click='$ctrl.addInputCourse()')

    button.btn.btn-default#find(ng-click='$ctrl.fillTable()') Fill table
