div.container-fluid#big-question
    | Will
    input(ng-model='$ctrl.course', size='3', course-validator)
    | transfer to
    input(ng-model='$ctrl.institution', size='3')
    |?

    button#find-equivalencies.btn.btn-default(ng-click='$ctrl.requestEquiv()') Find

div.container
    div.equivalency-block(ng-repeat="equivalency in $ctrl.result.equivalencies")
        div.course-set-block
            p(ng-repeat="input in equivalency.input") {{input.subject}} {{input.number}} ({{input.credits}} credits)
        span.glyphicon.glyphicon-arrow-down
        div.course-set-block
            p(ng-repeat="output in equivalency.output") {{output.subject}} {{output.number}} ({{output.credits}} credits)
    pre.error(ng-show="$ctrl.error") {{$ctrl.error}}
