doctype html
html
    head
        //- These three <meta> elements must come first for bootstrap
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE-edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        meta(name='theme-color' content='#3F51B5')
        meta(name='application-name' content='novaXfer')
        base(href='/')

        //- Icons and manifests
        link(rel='manifest' href='/meta/manifest.json')
        link(rel='shortcut icon' href='/meta/favicon.ico')
        link(rel='icon' type='image/png' sizes='32x32', href='/meta/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16', href='/meta/favicon-16x16.png')

        title novaXfer

        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300,400,500,700,400italic')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='/assets/base.css')

        - var modules = ['polyfills', 'vendor', 'app'];
        each mod in modules
            script(src='/' + mod + '.js')

    body
        div.site-content
            novaxfer

        footer
            hr
            div.container
                p Copyright &copy; Matthew Dean 2017
