mixin link(href, name)
    li: div.md-overlay: a(routerLink=href)= name

ul
    +link('/home', 'Home')
    +link('/bulk', 'Bulk')
    +link('/docs/api', 'API')
    li: div.md-overlay: a(href='https://github.com/thatJavaNerd/novaXfer') Open Source
