nav
    div.md-overlay(*ngFor='let routerLink of routerLinks')
        a([routerLink]='routerLink.href') {{ routerLink.title }}
    div.md-overlay(*ngFor='let hrefLink of hrefLinks')
        a([href]='hrefLink.href') {{ hrefLink.title }}
