ul
    li(*ngFor='let routerLink of routerLinks')
        div.md-overlay: a([routerLink]='routerLink.href') {{ routerLink.title }}
    li(*ngFor='let hrefLink of hrefLinks')
        div.md-overlay: a([href]='hrefLink.href') {{ hrefLink.title }}
