@import '../../assets/palette';

header {
  max-height: 400px;
  min-height: 250px;
  background-color: $primary-color-dark;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
  }

  a {
    color: $primary-color-text;
    font-size: 5em;

    &:hover {
      color: $primary-color-text;
      text-decoration: none;
    }
  }

  em {
    color: $primary-color-light;
    font-size: 1.5em;
  }
}

header.header-large {
  height: 50vh;
}

navigation {
  padding-bottom: 10px;
}