header('[ngClass]'='{ "header-large": large }')
    div.title
        a(routerLink='/home') novaXfer
        em.text-center Lightning fast NVCC course equivalencies
    navigation('[routerLinks]'='routerLinks', '[hrefLinks]'='hrefLinks')
