doctype html
html(ng-app='novaxfer')
  head
    // These 3 <meta> headers must come first
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title novaXfer
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Slabo+27px')
    link(rel='stylesheet', href='/style/base.css')

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/tether/dist/js/tether.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/app.module.js')
    script(src='/single-course-lookup/scl.module.js')
    script(src='/single-course-lookup/scl.component.js')

body
    header.text-center novaXfer

    main
        single-course-lookup

    footer.footer
      div.container
        span.text-muted
         | Copyright (c) Matthew Dean 2017
