extends layout.pug

block stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Slabo+27px')
    link(rel='stylesheet', href='/style/base.css')
    link(rel='stylesheet', href='/style/scl.css')

block content
    single-course-lookup
    div.container.text-center
        a(href='/table') Need bulk equivalencies?
