extends layout.pug

block stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Slabo+27px')
    link(rel='stylesheet', href='/style/base.css')
    link(rel='stylesheet', href='/style/table.css')

block content
    course-table
