extends layout.pug

block stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Slabo+27px')
    link(rel='stylesheet', href='/style/base.css')
    link(rel='stylesheet', href='/style/table.css')

block scripts
    script(src='/bower_components/lodash/dist/lodash.min.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/tether/dist/js/tether.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/app.module.js')
    script(src='/course-table/course-table.module.js')
    script(src='/course-table/course-table.component.js')
    script(src='/single-course-lookup/scl.module.js')
    script(src='/single-course-lookup/scl.component.js')

block content
    course-table
