@import 'palette';

$font-stack: Roboto, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  text-transform: uppercase;
}

body, p, input {
  font-family: $font-stack;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

hr {
  border-color: $divider-color;
}
