#big-question {
    text-align: center;
    font-size: 2em;
}

input.form-control, select.form-control {
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    height: 1.5em;
    font-size: 1em;
}

div.equivalency-block {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px black dashed;
    margin: 20px 0;
}

div.equivalency-block h2 {
    margin-top: 0;
}

div.no-results {
    margin: 15px 0;
    text-align: center;
}
